@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;600&display=swap');
body {
    width: 1300px;
    margin: auto;
    font-family: 'Roboto Slab', serif;
    
    }
    header h2 {
    font-style: initial;
    color: rgba(240, 44, 18, 0.76);
    font-size: 50px;
    }

    header section{
        display: grid;
        grid-template: repeat(2,1fr);
    }
    #salesform{
  margin: 10px 0;
  padding-top: 10px;
    }

    
    #tablecookies{
        
    border: 1px solid black;
          
    border-collapse: collapse;
    text-align: center;
    }
    #tablecookies th,tr,td {
        
        border: 3px solid black;
              
        border-collapse: collapse;
        }
